body {
	margin:0 auto;
	background-color: #16A085;
}

* {
	box-sizing: border-box;
}
header {
	position: relative;
  	padding: 30px;
  	width: 100%;
  	height: 10px;
}

.circle {	
	border: 20px solid #06E8BD; 
	width:200px;
	height: 200px;
	border-radius: 200px;
	margin-left: 0px;
	margin-top: 0px;
	overflow: hidden;
	animation: window-1 3s alternate infinite;
}

.circle .line {
	position:relative; 
	border: 15px solid #06E8BD; 
	width: 40%;
	border-radius: 25px;
	top:50%;
	left:66%;
	rotate:(45deg);
	/*animation: window-2 3s alternate-normal infinite;*/
}

.circle-aux {
	background-color: #16A085; 
	border: 20px solid #16A085; 
	width:200px;
	height: 200px;
	border-radius: 200px;
	margin-left: 144px;
	margin-top: -300px;
	animation: window-1 3s alternate infinite;

}

@keyframes window-1 {
	10% {
		opacity: 2;
		top:50;
		left:0;
		border-radius: 50%;
	}
	20%{
	opacity: 2;
		top:50;
		left:50;
		border-radius: 0%;	
	}
	50%{
		opacity: 3;
		top:50;
		left:0;
		border-radius: 25%;
	}
	60%{
		opacity: 2;
		top:50;
		left:0;
		border-radius: 50%;	
	}
	70%{
		opacity: 5;
		top:50;
		left:0;
		border-radius: 0%;
	}
	90%{
		opacity: 6;
		top:50;
		left:50;
		border-radius: 50%;
	}
	100% {
		opacity: 0.5;
		top: 50;
		left: 50;
		border-radius: 100%;
	}
}
@keyframes window-2 {
	10% {
		opacity: 2;
		top:50;
		left:0;
		border-radius: 0%;
	}
	20%{
	opacity: 2;
		top:50;
		left:0;
		border-radius: 0%;	
	}
	50%{
		opacity: 2;
		top:50;
		left:0;
		border-radius: 0%;
	}
	70%{
		opacity: 5;
		top:50;
		left:0;
		border-radius: 0%;
	}
	90%{
		opacity: 2;
		top:50;
		left:0;
		border-radius: 50%;
	}
	100% {
		opacity: 0.5;
		top: 0;
		left: 50;
		border-radius: 100%;
	}
}

body div img{
	position: absolute;
	width: 300px;
	height:300px;
	margin:0px;
	margin-top: -541px;
	margin-left: 1515px;
}
footer .all-img li div img:hover {
	opacity: 0;
}

footer .all-img li div img:hover p{
	opacity: 0;
	visibility: visible;
}

.footer{
	margin: 0px;
	padding: 0px;
	position: absolute;
	width:100%;
	height: 35%;
	margin:0px;
	margin-top: -20;
	margin-left: -10px;
	background: #06E8BD; 

}

footer .all-img {
	position: absolute;
	width: 100%;
	height: 300px;
	right: 5%;
}

footer .all-img ul {
	list-style: none;
	margin: 0;
	padding: 0;
}	

footer .all-img ul li {
	background-color: #16A085;
	display: inline-block;
	margin-top: 4%;
	margin-left: 13%;
	width: 300px;
	height: 300px;
	rotate:(45deg);
}

footer .all-img ul li div{
	position: relative;
	width: 100%;
	height: 100%;
}

footer .all-img ul li img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin:0px;
	top:1%;
	transition: all 1s;

}

footer .all-img li p {
	position: absolute;
	display:inline-block;
	font-size: 50px;
	margin: 0px;
	top: 42%;
	left: 22%;
	bottom: 50%;
	visibility: hidden;
}

footer .all-img li .img-1{
	left: -1%
}
footer .all-img li .img-2{
	font-size: 200px;
	left: 1%
}
footer .all-img li img-3{
	font-size: 200px;
	left: 33%
}
footer .all-img li img-4{
	font-size: 200px;
	left: 33%
}

video{
	width: 800px;
	height:800px;
	margin:0px;
	margin-top: -101px;
	margin-left: 800px;
}

.square-video {
	opacity: 0.1;
	position: absolute;
	margin-top:53px; 
	margin-left:833px;
	background-color: #364EBA;
	width: 35%;
	height: 800px;
}

.name{
	font-size: 62px;
	margin-left: 1040px;
	margin-top: -242px;
	text-decoration: underline ;
}

li:hover #fifa{
	left: 33%;
	visibility: visible;
}
li:hover #soccer{
	visibility: visible;
}
li:hover #travel{
	left:20%;
	visibility: visible;
}
li:hover #tech{
	left: 28%;
	visibility: visible;
}

#likes {
	font-family: verdana;
	position: absolute;
	font-size: 100px;
	margin-left: 1122px;
	margin-top: -12px;	
}